# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Turbo
.turbo/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
